.password-container {
  margin-top: 100px;
}

.send-in-the-data {
  margin-top: 20px;
}

.tips {
  margin-top: 20px
}

.code-example-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.code-example {
  width: 600px;
}

pre {
  text-align: left;
}
